{% extends "index.html" %}
{% block body %}
<form action="{{ url_for('add_post') }}" method=post enctype=multipart/form-data>
    <h3>Title: </h3><input type=text size=50 name=title>
    <div class="form-group">
        <h3>Text: </h3>
        <textarea class="form-control" name=text type=text cols="3" rows="3" id="comment"></textarea>
    </div>
    {% if session['logged_in'] %}
    <input type=file name=filename>
    {% endif %}
    <div class="container">
        <button type=submit class="btn btn-success">Post!</button>
    </div>
</form><br>
{{ pagination.info }}
<p>{{ pagination.links }}</p>
{% for post in posts %}
<div class="alert alert-info">
    <strong><h2>{{ post.title }}</h2></strong>{{ post.date_time }}<br><br><strong>{{ post.text|safe }}</strong><br>
    {% if post.filename %}
        {% if not post.filename.endswith("mp3") %}
            <img src="/static/upload/image/{{post.filesave}}">
        {% else %}
            {{ post.filename.replace('_', ' ').replace('  ',' & ') }}<br>
            <audio controls>
            <source src="/static/upload/music/{{post.filesave}}" type="audio/mpeg">
        {% endif %}
    {% endif %}
</div>
{% else %}
<div class="alert alert-info">
    <strong>The posts are absent, yet...;)</strong>
</div>
{% endfor %}
{{ pagination.links }}
{% endblock %}